<h2>Crear cuenta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Nombre", :style => "width: 100%;font-size: larger;margin: 2% 0%;" %>
    </div>
   <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "Email", placeholder: "Correo", :style => "width: 100%;font-size: larger;margin: 2% 0%;"%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password,autocomplete: "new-password", placeholder: "Contraseña 6 Caracteres Minimo", :style => "width: 100%;font-size: larger;margin: 2% 0%;" %>
  </div>
  
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmar Contraseña", :style => "width: 100%;font-size: larger;margin: 2% 0%;" %>
       </div>

  <div class="field">
        <%= f.text_area :diretion, autofocus: true, placeholder: "Direccion", :style => "width: 100%;font-size: larger;resize: none;height: 100px;margin: 2% 0%;" %>
        </div>

    <div class="field">
    
      <div ><%= f.label :date_of_birth ,"Fecha de nacimiento", :style => "font-size: x-large; font-weight:bold;"%></div><br />
        <%= f.date_select :date_of_birth, :start_year=>1910,:end_year=>2000 , :style => "width: 100%; font-size: larger;" %>
        </div>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
