<div  class=" row center-md">
<div class="col-xs-10">
<p id="notice"><%= notice %></p>
<h1>Ordenes</h1>
<div class="row" style="box-shadow: 1px 1px 3px black;"><table>
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        
        <td><%= order.address %></td>
        <td><%= order.latitude %></td>
        <td><%= order.longitude %></td>
        <td><%= link_to 'Mostrar en mapa', order %></td>
        <td><%= link_to 'Editar', edit_order_path(order) %></td>
        <td><%= link_to 'Eliminar ', order, method: :delete, data: { confirm: 'Esta seguro de eliminar orden?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
<div style="padding:20px;">
<%= link_to 'Nueva orden', new_order_path , class: "btn"%>
</div>
</div>
</div>

