<p id="notice"><%= notice %></p>


<p>
  <strong>Direccion:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @order.latitude %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @order.longitude %>
</p>

<%= link_to 'Editar', edit_order_path(@order) %> |
<%= link_to 'Regresar', orders_path %>


   

