<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="gradiant" style="font-family: OpenSymbol">
      <%= render "partials/principal" %>
      <% if user_signed_in? %>
    <li >
      <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
    </li>
    <li >
      <%= link_to("Ordenes", orders_path) %>
    </li>

  <%else%>
    <li  >
      <%= link_to "Iniciar Sesion",new_user_session_path %>
    </li>
    <li  >
      <%= link_to "Crear cuenta", new_user_registration_path %>
    </li>
  <%end%>

  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
