<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav>
    <ul class="no-list col-md">
    <% if user_signed_in? %>
     <li  class="col-md">
      <%= link_to("Inicio", root_path) %>
        </li>
  <li  class="col-md">
      <%= link_to(image_tag("logo.png"), root_path) %>
        </li>
   <li class="col-md">
          <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
        </li>
   <%else%>
  <li  class="col-md">
      <%= link_to(image_tag("logo.png"), root_path) %>
        </li>
         <li  class="col-md">
      <%= link_to("Inicio", root_path) %>
        </li>
 
        <li  class="col-md">
      <%= link_to "Iniciar Sesion",new_user_session_path %>
        </li>
        <li  class="col-md">
      <%= link_to "Crear cuenta", new_user_registration_path %>
        </li>
        <%end%>
    </ul>
  </nav>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
